@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    background-color: rgb(48, 41, 41);
}

* {
    
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 50px;
    color: deeppink;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
img {
    margin: 1rem;
}

p {
    font-size: 25px;
    margin-bottom: 2rem;

}

a {
    font-size: 40px;
    color:deeppink;
} 

a:hover {
    cursor: pointer;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #7a7d80;
}

